html {
    font-family: 'Roboto Condensed', sans-serif;
}

body {    
    display: flex;
    justify-content: center;
    background-color: #1F1D1D;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    color: white;
}

.header {
    display: flex;
    justify-content: center;
}

.calcBox {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 2px solid #6d5f6d;
    height: 450px;
    width: 400px;
    border-radius: .75rem;
}

.visorDiv {
    display: flex;
    background-color: #6d5f6d;
    flex-direction: column;
    border: 2px solid #372f37;
    height: 70px;
    margin: 10px;
    align-items: left;
    justify-content: center;
}

.visorDiv p {
    margin: 0;
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;

}

#displayUpperText {
    color: #d9d9d9;
    font-size: 15px;
    margin-bottom: 5px;
}

.numGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*row-gap: 2px;
    column-gap: 2px;*/
}

.gridButton, .gridButton2, .opButton {
    height: 60px;
    cursor: pointer;
    background-color: #838395;
    border: 2px solid #372f37;
    border-radius: .05rem;
    box-sizing: border-box;
    color: #FFFFFF;
    flex: 0 0 auto;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: .75rem 1.2rem;
    
    text-align: center;
    transition: all;
    transition-duration: .2s;
}


.gridButton:hover, .gridButton2:hover, .opButton:hover {
    cursor: pointer;
    background-color: #484646 !important;
}

.gridButton:active, .gridButton2:active, .opButton:active {
    cursor: pointer;
    background-color: #dedede !important;
}

.backAndReset {
    display: grid;
    grid-template-columns: 1fr 1fr;
}



